{{ $ := .root }}
{{ $page := .page }}

{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $page.Params.author }}
{{ end }}

{{ $person_page_path := (printf "/authors/%s" $author) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
  {{ errorf "Could not find an author page at `%s`. Please check the value of `author` in your About widget and create an associated author page if one does not already exist. See https://sourcethemes.com/academic/docs/page-builder/#about " $person_page_path }}
{{ end }}
{{ $person := $person_page.Params }}
{{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}

<!-- About widget -->
<div class="row" style="margin-bottom: 0 !important; padding-bottom: 0 !important;">
  <!-- PHOTO à gauche avec légende -->
  <div class="col-12 col-md-4" style="padding-right: 30px; display: flex; flex-direction: column; align-items: center;">
    {{ if site.Params.avatar.gravatar }}
      <img 
        class="avatar" 
        src="https://s.gravatar.com/avatar/{{ md5 $person.email }}?s=270" 
        alt="{{ $person_page.Title }}" 
        style="border-radius: 50%; object-fit: cover; width: 270px; height: 270px;"
      >
    {{ else if $avatar }}
      {{ $avatar_image := $avatar.Fill "270x270 Center" }}
      <img 
        class="avatar" 
        src="{{ $avatar_image.RelPermalink }}" 
        alt="{{ $person_page.Title }}" 
        style="border-radius: 50%; object-fit: cover; width: 270px; height: 270px;"
      >
    {{ end }}
    <figcaption style="margin-top: 8px; font-style: italic; font-size: 0.9em; color: #555;">
      Crédit : Archives of the Mathematisches Forschungsinstitut Oberwolfach
    </figcaption>

    <!-- Icônes des réseaux sociaux -->
    <ul class="network-icon" aria-hidden="true">
      {{ range $person.social }}
      {{ $pack := or .icon_pack "fas" }}
      {{ $pack_prefix := $pack }}
      {{ if in (slice "fab" "fas" "far" "fal") $pack }}
        {{ $pack_prefix = "fa" }}
      {{ end }}
      {{ $link := .link }}
      {{ $scheme := (urls.Parse $link).Scheme }}
      {{ $target := "" }}
      {{ if not $scheme }}
        {{ $link = .link | relLangURL }}
      {{ else if in (slice "http" "https") $scheme }}
        {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
      {{ end }}
      <li>
        <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
          <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }} big-icon"></i>
        </a>
      </li>
      {{ end }}
    </ul>
  </div>

  <!-- TEXTE à droite -->
  <div class="col-12 col-md-8">
    {{ if and $page.Params.widget $page.Title }}
      <h1 style="margin-top: 0;">{{ $page.Title | markdownify | emojify }}</h1>
    {{ end }}

    <!-- Bio principale -->
    <div>
      {{ $person_page.Content }}
    </div>

    <!-- Intérêts et Éducation alignés sous la bio -->
    <div class="row mt-4" style="margin-bottom: 0 !important; padding-bottom: 0 !important;">
      {{ with $person.interests }}
      <div class="col-md-6">
        <h3>{{ i18n "interests" | markdownify }}</h3>
        <ul>
          {{ range . }}
          <li>{{ . | markdownify | emojify }}</li>
          {{ end }}
        </ul>
      </div>
      {{ end }}

      {{ with $person.education }}
      <div class="col-md-6">
        <h3>{{ i18n "education" | markdownify }}</h3>
        <ul class="fa-ul">
          {{ range .courses }}
          <li>
            <i class="fa-li fas fa-graduation-cap"></i>
            <div>
              <strong>{{ .course }}</strong>{{ with .year }}, {{ . }}{{ end }}<br>
              <em>{{ .institution }}</em>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
</div>
